{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Lista de produtos{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    <a href="{{ url_for("form_prod") }}">Cadastrar novo produto</a>
</p>
<table border="1">
    <tr>
        <td>Código de barra</td>
        <td>Produto</td>
        <td>Preço</td>
        <td>Quantidade</td>
        <td>Tipo do produto</td>
    </tr>
    {% for i in produtos %}
    <tr>
        <td>{{i.cod_barra}}</td>
        <td>{{i.nome_prod}}</td>
        <td>{{i.preco_prod}}</td>
        <td>{{i.qtd}}</td>
        <td>{{i.tipo_prod}}</td>
    </tr>
    {% endfor %}

{% endblock %}